/* Your Website Styles */

body {
  background: url("../img/dark.png");
  text-align: center;
}

h1 {
  text-align: center;
  color: #3FBAB9;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

body div img[src*="logo"] {
  width: 8em;

}

/* Gallery Stying */


.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}




/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
}


.gallery .controls {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
}
.gallery .controls img,
.gallery .controls img {
  transition: .25s;
}


.gallery .controls img:hover,
.gallery .controls img:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.gallery .controls img {
  
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}



/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}